.loader {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    transition: 1.5s cubic-bezier(.68,.01,.25,.96);
    .layer {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(0vh);
        &.white {
            background-color: #111;
            transition: 1s cubic-bezier(.68,.01,.25,.96);
        }
        &.beige {
            background-color: #DCB4A7;
            transition: 1.5s cubic-bezier(.68,.01,.25,.96);
        }
    }
    &.active {
        transform: translateY(-100vh);
        .layer {
            &.white {
                transform: translateY(-125vh);
            }
            &.beige {
                transform: translateY(-150vh);
            }
        }
    }
}
