.box-discover {
    width: 350px;
    opacity: 0;
    z-index: 1;
    transform: translateY(100px);
    transition: 750ms;
    &.bottom {
        margin-top: 35px;
    }
    .illu {
        height: 350px;
        background-color: #222;
        border-radius: 5px;
        overflow: hidden;
        .dot {
            width: 25px;
            height: 10px;
            background-color: #fff;
            border-radius: 5px;
            opacity: 0.25;
            transition: 750ms cubic-bezier(.91,.02,.3,.98);
            cursor: pointer;
            &.active {
                width: 50px;
                opacity: 1;
            }
        }
        .carousel {
            width: 300%;
            height: 100%;
            display: flex;
            transition: 750ms cubic-bezier(.91,.02,.3,.98);
            > div {
                width: calc(100% / 3);
                height: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1.25);
                    transition: transform 750ms, margin 750ms cubic-bezier(.91,.02,.3,.98);
                }
            }
        }
    }
    .heading {
        margin-top: 15px;
        font-size: 32px;
        font-family: 'Bebas Neue';
    }
    .face {
        width: 40px;
        height: 40px;
        background-color: #eee;
        margin-left: -15px;
        border-radius: 50%;
        overflow: hidden;
        transform: translateY(35px);
        opacity: 0;
        transition: 500ms linear;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.visible {
    .box-discover {
        transform: translateY(0);
        opacity: 1;
        &:nth-child(2) {
            transition-delay: 250ms;
            img {
                transition-delay: 250ms !important;
            }
        }
        &:nth-child(3) {
            transition-delay: 500ms;
            img {
                transition-delay: 500ms !important;
            }
        }
        img {
            transform: scale(1) !important;
        }
        .face {
            transform: translateY(0) !important;
            opacity: 1 !important;
        }
    }
}
