$beige: #DCB4A7;

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.cta {
    width: 100%;
    max-width: 180px;
    background-color: #fff;
    padding: 15px 0 12px;
    font-size: 20px;
    color: #000;
    font-family: 'Bebas Neue';
    text-align: center;
    cursor: pointer;
    &.dark {
        background-color: #000;
        color: #fff;
        span {
            color: $beige;
        }
    }
}

.heading-regular {
    font-size: 85px;
    line-height: 1em;
    span {
        color: $beige;
        font-family: 'Playfair Display';
        font-style: italic;
    }
}

.paragraphe {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.75em;
}

.header-home {
    position: relative;
    z-index: 3;
    .container {
        height: 100vh;
        max-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .layer {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        &.leaves {
            height: 115%;
            z-index: 1;
        }
        &.full,
        &.text {
            height: 100%;
        }
        &.text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .heading {
        margin-top: -40px;
        font-size: 300px;
        color: #fff;
        font-family: 'Bebas Neue';
        line-height: 1em;
    }
    .bars {
        width: calc(6*255px);
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        .bar {
            width: 255px;
            background-color: #000;
            &:nth-child(1) {
                height: 60px;
            }
            &:nth-child(3) {
                height: 30px;
            }
            &:nth-child(5) {
                height: 40px;
            }
            &:nth-child(6) {
                height: 60px;
            }
        }
    }
}

section {
    .inner {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            width: 50%;
            
        }
    }
    &.discover {
        padding: 125px 10% 25px;
        position: relative;
        color: #fff;
        z-index: 2;
        .heading-regular {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            line-height: 1em;
        }
        .paragraphe {
            max-width: 600px;
            margin: 35px auto 0;
            text-align: center;
            opacity: 0;
            transition: 500ms;
        }
        .dots {
            .dot {
                background-color: rgba(255, 255, 255, 0.25);
                cursor: pointer;
                &.active {
                    background-color: #fff;
                }
            }
        }
        &.active {
            .paragraphe {
                opacity: 1;
            }
        }
    }
    &.presentation {
        background-color: #fff;
        padding: 250px 0 150px;
        position: relative;
        z-index: 1;
        .inner {
            .illu {
                display: flex;
                align-items: center;
                position: relative;
            }
            .paragraphe {
                margin-top: 1em;
            }
            .cta {
                margin-top: 25px;
            }
            .hero {
                width: 475px;
                height: 600px;
            }
            .mini-hero {
                width: 300px;
                height: 420px;
                box-shadow: 0px 25px 150px 0px rgba(0, 0, 0, 0.25);
                position: absolute;
                right: 100px;
                bottom: -50px;
            }
            .hero,
            .mini-hero {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .brush {
            width: 110%;
            position: absolute;
            top: -150px;
        }
    }
    &.guide {
        background-image: url('./images/guide/background.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000;
        padding: 100px 0;
        position: relative;
        &::before,
        &::after {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }
        &::after {
            content: '';
            width: 50%;
            height: 75px;
            background-color: #fff;
        }
        .inner {
            position: relative;
            z-index: 1;
        }
        .heading-regular {
            color: #fff;
        }
        .paragraphe {
            margin-top: 25px;
            color: #fff;
        }
        .illu {
            display: flex;
            justify-content: center;
        }
        .cta {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header-home {
        .heading {
            font-size: 200px;
        }
    }
    .heading-regular {
        font-size: 50px;
    }
    .inner {
        flex-direction: column;
    }
}
