$beige: #DCB4A7;

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.cta {
    width: 100%;
    max-width: 180px;
    background-color: $beige;
    margin-top: 25px;
    overflow: hidden;
    transform: translateY(50px);
    opacity: 0;
    transition-delay: 1s;
    transition: 1.25s cubic-bezier(.79,.01,.31,.95);
    font-size: 22px;
    color: #fff;
    font-family: 'Bebas Neue';
    text-align: center;
    cursor: pointer;
    div {
        width: 100%;
        height: 100%;
        background-color: #000;
        padding: 15px 0 12px;
        transform: translateY(100%);
        transition-delay: 500ms;
        transition: 1s cubic-bezier(.79,.01,.31,.95);
    }
    span {
        color: $beige;
    }
}

.heading-regular {
    font-size: 85px;
    line-height: 1em;
    span {
        &.beige {
            color: $beige;
        }
        &.italic {
            font-family: 'Playfair Display';
            font-style: italic;
        }
        &.line {
            height: 1.2em;
            display: flex;
            overflow: hidden;
            .letter {
                display: block;
                transform: translateY(110%);
                transition: 750ms;
                &.space {
                    width: 0.15em;
                }
            }
        }
    }
}

.paragraphe {
    max-width: 500px;
    font-size: 22px;
    line-height: 1.5em;
    .line {
        height: 1.5em;
        display: block;
        overflow: hidden;
        span {
            display: inline-block;
            transform: translateY(100%);
            transform-origin: left;
            transition: 500ms ease-in-out;
        }
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                span {
                    transition-delay: ($i * 100) + 400ms;
                }
            }
        }
    }
}

.header-home {
    position: relative;
    z-index: 4;
    &.active {
        .layer {
            transform: translateY(0) !important;
        }
    }
    .container-layer {
        width: 100%;
        height: 100vh;
        max-height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }
    .layer {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        will-change: transform;
        &.leaves {
            height: 115%;
            z-index: 1;
        }
        &.full,
        &.text {
            height: 100%;
        }
        &.text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &:nth-child(4) {
            transform: translateY(400px);
        }
    }
    .heading {
        margin-top: -40px;
        font-size: 300px;
        color: #fff;
        font-family: 'Bebas Neue';
        line-height: 1em;
        span {
            display: inline-block;
            filter: blur(0px);
            will-change: transform;
        }
    }
    .btn {
        width: 200px;
        background-color: $beige;
        font-size: 22px;
        color: #000;
        font-family: 'Bebas Neue';
        text-align: center;
        filter: blur(0px);
        div {
            background-color: #fff;
            padding: 15px 0 12px;
        }
        &.dark {
            div {
                background-color: #000;
                color: #fff;
                span {
                    color: $beige;
                }
            }
        }
    }
    .bars {
        width: calc(6*255px);
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        .bar {
            width: 255px;
            background-color: #000;
            /* &:nth-child(1) {
                height: 40px;
            }
            &:nth-child(3) {
                height: 15px;
            }
            &:nth-child(5) {
                height: 25px;
            }
            &:nth-child(6) {
                height: 40px;
            } */
        }
    }
}

section {
    .inner {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            width: 50%;
            
        }
    }
    .hero {
        transform: translateY(100px);
        opacity: 0;
        transition: transform 750ms, opacity 750ms;
        overflow: hidden;
        img:not(.arrow) {
            transform: scale(1.25);
            transition-delay: 750ms;
            transition: transform 1s;
        }
    }
    &.discover {
        padding: 150px 10% 25px;
        position: relative;
        color: #fff;
        z-index: 3;
        .heading-regular {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            line-height: 1em;
            .line {
                justify-content: center;
            }
        }
        .paragraphe {
            max-width: 600px;
            margin: 35px auto 0;
            text-align: center;
        }
        .dots {
            .dot {
                background-color: rgba(255, 255, 255, 0.25);
                cursor: pointer;
                &.active {
                    background-color: #fff;
                }
            }
        }
    }
    &.presentation {
        background-image: url('./images/presentation/paris-map.jpg');
        background-size: 35%;
        background-repeat: no-repeat;
        background-position: right top;
        background-color: #fff;
        padding: 250px 0 150px;
        position: relative;
        z-index: 2;
        .inner {
            .illu {
                display: flex;
                align-items: center;
                position: relative;
            }
            .paragraphe {
                margin-top: 1em;
            }
            .hero {
                width: 475px;
                height: 600px;
                background-color: #000;
            }
            .mini-hero {
                width: 300px;
                height: 420px;
                box-shadow: 0px 50px 150px 0px rgba(0, 0, 0, 0.5);
                position: absolute;
                right: 100px;
                bottom: -50px;
                transform: translateY(150px);
                opacity: 0;
                transition: transform 750ms, opacity 750ms;
            }
            .hero,
            .mini-hero {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .brush {
            width: 110%;
            position: absolute;
            top: -150px;
        }
        .petals {
            width: 200px;
            position: absolute;
            right: 50px;
            top: 0;
            z-index: 1;
            transform: translateY(250px);
            filter: blur(5px);
        }
        .circle {
            width: 150px;
            position: absolute;
            right: 20%;
            bottom: -75px;
            z-index: 1;
        }
        &.visible {
            .mini-hero {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    &.guide {
        background-color: #000;
        padding: 200px 5%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        &::before,
        &::after {
            content: '';
            width: 50%;
            height: 75px;
            position: absolute;
            transition: 500ms;
        }
        &::before {
            background-color: #fff;
            left: 0;
            top: 0;
            z-index: 1;
        }
        &::after {
            width: calc(50% + 1px);
            background-color: #000;
            right: 0;
            bottom: 0;
        }
        .background {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            opacity: 0.75;
            transform: translateY(-200px);
        }
        .inner {
            position: relative;
            z-index: 1;
        }
        .heading-regular {
            color: #fff;
        }
        .paragraphe {
            margin-top: 25px;
            color: #fff;
        }
        .illu {
            display: flex;
            justify-content: center;
        }
        .hero {
            width: 475px;
            height: 600px;
            .infos {
                width: 100%;
                height: 125px;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(10px);
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                color: #fff;
                overflow: hidden;
                .names {
                    height: 200%;
                    > div {
                        height: 125px;
                        padding: 0 30px;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .title {
                        font-size: 32px;
                        font-family: 'Bebas';
                        line-height: 1em;
                        span {
                            color: $beige;
                        }
                    }
                    p {
                        margin-top: 5px;
                        font-size: 22px;
                    }
                }
                .navigation {
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 30px;
                    .arrow {
                        height: 15px;
                        &:nth-child(2) {
                            transform: rotate(180deg);
                            opacity: 0.5;
                        }
                    }
                }
            }
            .carousel {
                width: 200%;
                height: 100%;
                display: flex;
                .slide {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        &.subject {
                            transform: scale(1.1);
                        }
                    }
                    &:nth-child(2) {
                        .subject {
                            margin-left: 200px;
                        }
                        .landscape {
                            margin-left: -50px;
                        }
                    }
                }
            }
        }
        .circle {
            width: 150px;
            position: absolute;
            right: 20%;
            top: -75px;
            z-index: 2;
        }
    }
    &.visible {
        .paragraphe {
            .line {
                span {
                    transform: translateY(0);
                }
            }
        }
        .hero {
            transform: translateY(0);
            opacity: 1;
            img:not(.arrow) {
                transform: scale(1) !important;
            }
        }
        .heading-regular {
            span {
                &.line {
                    .letter {
                        transform: translateY(0%) !important;
                    }
                }
            }
        }
        .cta {
            transform: translateY(0) !important;
            opacity: 1 !important;
            div {
                transform: translateY(0) !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header-home {
        .heading {
            font-size: 200px;
        }
    }
    .heading-regular {
        font-size: 50px;
    }
    .inner {
        flex-direction: column;
    }
}
