@font-face {
    font-family: 'Galins';
    src: url('./fonts/galins/galins-regular.otf');
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/sofia-pro/sofia-pro-light.otf');
}

body {
    background-color: #111;
    font-family: 'Sofia Pro';
}

.galins {
    font-family: 'Galins';
}

.paragraphe {
    font-family: 'Sofia Pro';
}
