.main-nav {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    font-family: 'Bebas Neue';
    z-index: 5;
    &::after {
        content: '';
        width: 100%;
        height: 150%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        position: absolute;
        left: 0;
        top: 0;
    }
    .inner {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        .logo {
            font-size: 35px;
        }
        .items {
            grid-gap: 25px;
            font-size: 22px;
        }
    }
}
